{% extends "layout.html" %}
{% block header %}
{% include "node_header.html" %}
{% endblock %}
{% block body %}
{% if videos %}
<div class="panel panel-default">
  <div class="panel-heading">Videos</div>
  {% for path in videos %}
  <div class="container-fluid">
    <video src=/multimedia{{path}} controls width=1000></video>
  </div>
  {% endfor %}
</div>
{% endif %}
{% if files %}
<div class="panel panel-default">
  <div class="panel-heading">Files</div>
  <table class="table">
    <thead>
      <tr>
        <th>filename</th>
        <th>type</th>
        <th>mtime</th>
      </tr>
    </thead>
    <tbody>
      {% for fn, ft, mt, path in files %}
      <tr>
        <td><a href="/multimedia{{path}}">{{fn|e}}</a></td>
        <td>{{ft|e}}</td>
        <td>{{mt|e}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% if dirs %}
<div class="panel panel-default">
  <div class="panel-heading">Directories</div>
  <ul class="list-group">
    {% for d in dirs %}
    <li class="list-group-item">{{d|e}}</td>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% if sequences %}
<div class="panel panel-default">
  <div class="panel-heading">Sequences</div>
  <table class="table">
    <thead>
      <tr>
        <th>Pattern</th>
        <th>#files</th>
      </tr>
    </thead>
    <tbody>
      {% for seq in sequences %}
      <tr>
        <td>{{seq[0]|e}}</td>
        <td>{{seq[1]|e}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
