{% extends "layout.html" %}
{% block header %}
<h2>Tag List</h2>
{% endblock %}
{% block body %}
<table class="dp-tags table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Comment</th>
      <th>Path</th>
    </tr>
  </thead>
  <tbody>
    {%- for t in tags %}
    <tr>
      <td>
        <div class="dropdown">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            {# <li><a href="javascript:void(0);" class="delete_project" dp-path="{{p.path}}">Delete Project</a></li> #}
          </ul>
        </div>
      </td>
      <td>
        <a href="">{{t.name|e}}</a>
      </td>
      <td class="dp-comment" dp-path="{{t.path}}">{{t.comment|e}}</td>
      <td>{{t.path|e}}</td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{% endblock %}
